<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<header>
    <%- include("../partials/header.ejs") %>
</header>

<nav>
    <%- include("../partials/navBar.ejs") %>
</nav>

<body>
    <img src="/images/logo-ARCOUR.jpg" class="imagen" alt="">
    <h2 class="subtitulo">¡Somos tu mejor opción para una experiencia inolvidable!</h2>

    <div class="contenedor-buenosAires">
        <h2 id="titulo">Ciudad Autónoma de Buenos Aires</h2>
        <h3 id="subtitulo">Buenos Aires: La Ciudad de la Luz y el Romance en América</h3>
        <p id="parrafo">Bienvenidos a Buenos Aires. La Ciudad Autónoma de Buenos Aires, capital de la República
            Argentina, se encuentra situada sobre la orilla occidental del río de la Plata. <br> <br> Presenta una
            enorme y variada gama de atractivos: monumentos, iglesias, museos, galerías de arte y teatros; plazas,
            parques y jardines con arboledas añosas; barrios característicos; amplios centros comerciales y ferias. Hay
            además una muy buena infraestructura de servicios, contando con alojamientos que van desde albergues hasta
            hoteles de cinco estrellas de las principales cadenas del mundo. La oferta en cuanto a servicios
            gastronómicos es diversa, con restaurantes típicos y de cocina internacional. <br> <br> El casco histórico
            de Buenos Aires está centrado en la Plaza de Mayo, lugar fundacional donde se encuentran los edificios que
            albergan tanto a las autoridades que gobiernan al país —la denominada Casa Rosada— y a la Ciudad. <br> <br>
            Esta zona, salvo un par de avenidas diagonales, está constituida principalmente por manzanas distribuidas
            estrictamente de norte a sur y de este a oeste. Siguiendo la disposición en damero de las manzanas, el
            sistema de numeración de los domicilios en la Ciudad es sencillo: las cuadras poseen una numeración de 100
            números, estando los impares una acera y los pares de la vereda opuesta. Sobre el lado norte de la Plaza de
            Mayo, nace la Avenida Rivadavia, importante arteria vial de gran extensión, en la cual cambian de nombre las
            calles que la atraviesan —por ejemplo, la calle Florida al cruzar Rivadavia pasa a llamarse Perú—</p>
    </div>

    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

    <script src="/js/scriptHeader.js"></script>
</body>

</html>