<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<header>
    <%- include("../partials/header.ejs") %>
</header>

<nav>
    <%- include("../partials/navBar.ejs") %>
</nav>

<body>

    <h2 id="titulo">Contactate con nosotros</h2>
    <h4 id="parrafo"> Nuestras vias de comunicacion son:</h4><br><br>
    <p id="parrafo">Calle Bella Vista 417 Oficina 20 - CP 100110 - Bogotá - Colombia.</p><br><br>
    <p id="parrafo">Calle Buena Vista 7979 Piso 3 - CP 10129 - Montevideo - Uruguay.</p><br><br>
    <p id="parrafo">Calle Hermosa Vista 6666 Piso 2 - CP 1216 - Ciudad Autónoma de Buenos Aires.</p><br><br>
    <p id="parrafo">Horarios de Atención lunes a viernes: de 0800 hs a 1900 hs.</p>
    <p id="parrafo">Horarios de Atención sábados: de 0800 hs a 1400 hs.</p><br><br>
    <p id="parrafo">Teléfonos de Contacto: + 54 9 4444-0000 / 6666-0000.</p>
    <p id="parrafo">Teléfono de WhatsApp: + 54 9 1111-1111.</p><br>
    <p id="parrafo">O envíanos un correo electrónico a arcourclientes@arcour.com.uy / arcourreservas@arcour.com.ar /
        arcournovedades@arcour.com.co</p><br>


</body>
<footer>
    <%- include("../partials/footer.ejs") %>
</footer>

</html>