<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<header>
    <%- include("../partials/header.ejs") %>
</header>

<nav>
    <%- include("../partials/navBar.ejs") %>
</nav>

<body>

    <h5 class="titulo-buscador-vuelos">Te invitamos a visitar algunas de nuestras empresas amigas</h5>

    <div class="margen-buscador-vuelos">
        <div class="flex-img-home">
            <div class="img-centrada-home">
                <img class="imagenes-home" src="images/aeroparque.jpg">
                <a class="paises-link" href="https://www.aa2000.com.ar/aeroparque" target="_blank">
                    <h3 class="paises-home">Aeroparque</h3>

                </a>
            </div>

            <div class="img-centrada-home">
                <img class="imagenes-home" src="images/el-dorado.jpg">
                <a class="paises-link" href="https://eldorado.aero/" target="_blank">
                    <h3 class="paises-home">El Dorado</h3>
                </a>

            </div>
            <div class="img-centrada-home">
                <img class="imagenes-home" src="images/carrasco.jpg">
                <a class="paises-link" href="https://aeropuertodecarrasco.com.uy/" target="_blank">
                    <h3 class="paises-home">Carrasco</h3>
                </a>
            </div>
        </div>
    </div>

    </div>
</body>
<footer>
    <%- include("../partials/footer.ejs") %>
</footer>

</html>