<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Rest</title>
</head>
<body>
    <div id="ejemplo">
        <div class="contendor-totales-f">
            <ul class="flights-totals">
                <li id="bgt"></li>
                <li id="arg"></li>
                <li id="urg"></li>
            </ul>
        </div>
        <div class="contendor-totales-a">
            <ul class="airlines-totals">
                <li id="avc"></li>
                <li id="latam"></li>
                <li id="aero"></li>
            </ul>
        </div>
        <h1 class="results">Cantidad de vuelos: </h1>
        <ul id="mostrar-contenido">

        </ul>
    </div>
<script src="/js/ejemplo.js"></script>
</body>
</html>