<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCOUR</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/Logo ARCOUR.ico">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <img src="/images/Logo ARCOUR.jpg" class="imagen" alt="">
    <h2 class="subtitulo">¡Somos tu mejor opción para una experiencia inolvidable!</h2>
    <h2 id="titulo">Te invitamos a visitar algunas de nuestras empresas amigas</h2>
    <div class="contenedor-aero">
        <ul>
            <a class="aero1" href="https://www.aa2000.com.ar/aeroparque" target="_blank">Aeroparque</a>
            <a class="aero2" href="https://eldorado.aero/" target="_blank">El Dorado</a>
            <a class="aero3" href="https://aeropuertodecarrasco.com.uy/" target="_blank">Carrasco</a>
        </ul>
    </div>
</body>
<footer class="footer">Todos los Derechos Reservados ® 2023 ARCOUR</footer>

</html>