@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Heebo:wght@300;400&family=Hind+Siliguri:wght@500&family=Montserrat&family=Roboto:wght@100;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

header img {
  width: 30%;
  margin: -3vw;
}

header i {
  font-size: 3vw;
  margin: 10px;
  color: rgb(255, 255, 255);
}

/*CSS de Header */
.iconos-header {
  display: flex;
  align-items: center;
}

/* Estilos para el despliegue del perfil */
.profile-dropdown {
  position: relative;
  cursor: pointer;
  margin-right: 20px; /* Espacio entre el perfil y otros elementos del encabezado */
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-header img {
  width: 8vw;
  border-radius: 50%;
  margin-right: 30px;
}

.profile-header span {
  font-weight: bold;
  color: mintcream;
  font-size: 1.5rem;
}

/* Estilos para el menú desplegable */
#dropdown-menu {
  display: none;
}

#dropdown-menu.show-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15vw;
  top: 80px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  z-index: 1;
}

#dropdown-menu.show-menu li {
  padding: 8px 16px;
}

#dropdown-menu.show-menu a {
  text-decoration: none;
  color: #333;
}

#dropdown-menu.show-menu li:hover {
  background-color: #f0f0f0;
}
/*Fin*/

i:hover {
  color: lightblue;
}

.iconos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #181b59;
}

.span-header {
  display: flex;
}

ul {
  list-style: none;
}

.imagen-header {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #f2f2f2;
}

.menu__item:hover {
  background-color: #dedddd;
}

.menu a {
  text-decoration: none;
  height: 40px;
  padding: 0px 20px 0px 20px;
}

.menu__link {
  font-size: 12px;
  color: #181b59;
  display: flex;
  align-items: center;
}

.burger-menu {
  color: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bi-arrow-down-square-fill {
  padding-left: 0.08cm;
  margin-bottom: -1.8%;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  background-color: #fff;
}

.titulo {
  text-align: center;
}


.contenido-register {
  width: 100%;
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 0 0.5rem;
}

.login-box {
  padding: 1rem;
}

.register-subtitulo {
  font-size: 1.4em;
  color: black;
}
.register-subtitulo2 {
  font-size: 1.4rem;
  color: black;
}

form {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
}

.ant-row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.ant-col {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

.ant-inside {
  position: relative;
  height: auto;
  margin: 0 0 24px;
  vertical-align: top;
}

.ant-label {
  position: absolute;
  z-index: 9;
  top: -4px;
  left: 5px;
  margin: 0px;
  height: 18px;
  line-height: 0em;
  text-align: left;
  white-space: normal;
}

form label {
  position: relative;
  padding: 0px 5px;
  background: #fff;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}

select {
  width: 100%;
  border-radius: 10px;
  height: 4vh;
}

.ant-input {
  position: relative;
  line-height: 40px;
  zoom: 1;
}

.input-box {
  height: 2.5em;
  border: 1px solid #797979;
  border-radius: 5px;
  max-height: 2.62em;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
}

.ant-col .is-invalid {
  border: 2px solid indianred;
  border-radius: 10px;
  padding: 10px;
}

.text-danger {
  color: indianred;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
}

.text-danger-front {
  color: indianred;
  font-weight: bold;
  font-size: 1rem;
  margin: -5px 0px -10px 0px;
}


.ant-checkbox {
  position: relative;
  top: -0.09em;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
}

#check {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  position: absolute;
  top: -4px;
  right: 0;
  bottom: 0;
  left: -3px;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  transition: background-color 500ms ease-in-out;
}

#check:checked {
  background-color: #181b59;
}

.ant-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  border-collapse: separate;
}

.tyc {
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
}

.link-tc {
  color: #292fa2;
  text-decoration: underline;
  transition: color 300ms;
}

.link-tc:hover {
  color: #f2cb07;
  text-decoration: none;
}

.crear-cuenta {
  padding: 1rem 1rem 0px;
  text-align: center;
}

.boton-submit {
  cursor: pointer;
  margin: 0px;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 25vw;
  height: 32px;
  border: 0px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: #292fa2;
  transition: color 300ms;
}
.boton-submit-form {
  cursor: pointer;
  margin: 0px;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 15vw;
  height: 32px;
  border: 0px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: #292fa2;
  transition: color 300ms;
}

.boton-submit:hover, .boton-submit-form:hover {
  background-color: #181b59;
}

.boton-submit:disabled {
  background-color: #ccc; /* Cambia el color de fondo */
  color: #999; /* Cambia el color del texto */
  cursor: not-allowed; /* Cambia el cursor al estilo "no permitido" */
  box-shadow: none;
}

#boton-edit:disabled {
  background-color: #ccc; /* Cambia el color de fondo */
  color: #999; /* Cambia el color del texto */
  cursor: not-allowed; /* Cambia el cursor al estilo "no permitido" */
  box-shadow: none;
}

footer {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
}
.titulos-footer {
  display: flex;
  color: white;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
h6{
  margin:0px;
  padding: 0px;
}

/*cel*/

@media (max-width: 480px) {
  .main-nav {
    display: none;
  }
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .ant-row {
    display: flex;
    flex-flow: nowrap;
  }

  .ant-col {
    padding: 10px;
  }
}

/* tablet */
@media (min-width: 480px) and (max-width: 768px) {
  .burger-menu {
    display: none;
  }
  .burger-container {
    display: none;
  }

  .text-danger {
    margin-bottom: 0px;
  }
}

/* tablet */
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
  .burger-container {
    display: none;
  }
}
