@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Heebo:wght@300;400&family=Hind+Siliguri:wght@500&family=Montserrat&family=Roboto:wght@100;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

header img {
  width: 30%;
  margin: 1vw;
}

header i {
  font-size: 3vw;
  margin: 10px;
  color: rgb(255, 255, 255);
}

.iconos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #181b59;
}

i:hover {
  color: lightblue;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #f2f2f2;
}

.menu__item:hover {
  background-color: #dedddd;
}

.menu a {
  text-decoration: none;
  height: 40px;
}

.menu__link {
  font-size: 12px;
  color: #181b59;
  display: flex;
  align-items: center;
}

.bi-arrow-down-square-fill {
  padding-left: 0.08cm;
  margin-bottom: -1.8%;
}

.body {
  display: grid;
  min-height: 200vh;
  grid-template-rows: auto 1fr auto;
}

.contenedor-aero {
  position: relative;
  display: flex;
  margin-top: 100px;
  margin-bottom: 200px;
}

.aero1 {
  background-color: rgb(144, 222, 255);
  font-size: 25px;
  font-weight: 900;
  color: white;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  left: 120px;
  border-radius: 45%;
}

.aero2 {
  background-color: yellow;
  font-size: 25px;
  font-weight: 900;
  color: red;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  left: 520px;
  border-radius: 45%;
}

.aero3 {
  background-color: #0151ff;
  font-size: 25px;
  font-weight: 900;
  color: white;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  left: 920px;
  border-radius: 45%;
}

footer {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  display: block;
}

.subtitulo {
  margin-top: -1cm;
  margin-left: 3cm;
  font-size: large;
  color: rgb(0, 0, 100);
}

.nav-bar {
  background: #2b01ff;
  padding: 20px;
  display: block;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  width: 100%;
}

.menu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  background: #555;
  width: 100%;
  margin-left: -100%;
  transition: all 0.5s;
}

.menu__link {
  display: block;
  padding: 20px;
  color: white;
  font-size: 1.2em;
}

.submenu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.lateral-link {
  color: #222;
  text-decoration: none;
}

.mostrar {
  margin-left: 0;
}

li a {
  display: block;
  color: white;
  padding: 2px 2px;
  text-decoration: none;
  cursor: pointer;
}

.contenedor {
  margin-left: 25%;
  padding: 1px 16px;
  height: 500px;
}

.contenedor-montevideo {
  display: inline;
}

.contenedor-bogota {
  display: inline;
}

.contenedor-buenosAires {
  display: inline;
}

@media (min-width: 1024px) {
  .imagen {
    margin-top: 0;
    margin-left: 5.5cm;
  }

  .nav-bar {
    display: none;
  }

  .menu {
    margin-left: 0;
    display: flex;
  }

  .container-submenu {
    position: relative;
  }

  .submenu {
    position: absolute;
    top: 66px;
    width: 180px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }

  .container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
  }
}

#titulo {
  text-align: center;
}

header img {
  width: 30%;
  margin: -3vw;
}

header i {
  font-size: 3vw;
  margin: 10px;
  color: rgb(255, 255, 255);
}

.iconos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #181b59;
}

ul {
  list-style: none;
}

.imagen-header {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #f2f2f2;
}

.menu__item:hover {
  background-color: #dedddd;
}

.menu a {
  text-decoration: none;
  height: 40px;
}

.menu__link {
  font-size: 12px;
  color: #181b59;
  display: flex;
  align-items: center;
}

.burger-menu {
  color: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  padding: 0px 0px 20px 0px;
  margin: 0px;
  background-color: #fff;
}

footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
}

p {
  padding: 0px;
  margin: 0px;
}

.icono {
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.icono1 {
  margin-left: 1px;
  margin-right: 1px;
}

.icono12 {
  margin-right: 3px;
}

.main-arriba {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: gray dashed 1px;
}

.arriba-izq {
  margin: 5px;
  margin-left: 10px;
}

.arriba-der {
  margin-right: 10px;
}

.boton-main-arriba {
  margin: 1px;
  display: flex;
  padding: 1px;
}

.fecha-cantidad {
  display: flex;
  padding: 1px;
}

.span-header {
  display: flex;
}

.fyc {
  margin-left: 3px;
  margin-right: 3px;
}

.titulos-footer {
  display: flex;
  color: white;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h6 {
  margin: 0px;
}

.main-arriba1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.boton-main2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.rcmbmc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-main3 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 23vw;
  justify-content: center;
}

.boton-int {
  margin: 5px;
}

.boton-int1 {
  margin: 5px;
  color: #bebebe;
}

.cuadrado {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin: 20px;
}

.cuadrado-ultimo {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin: 20px 20px 0px 20px;
}

.titulo-cuadrado {
  background-color: #181b59;
  color: white;
  display: flex;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-bottom: solid 1px black;
}

.subtitulo {
  display: flex;
  justify-content: center;
  background-color: #cccccc;
  padding: 2px;
}

.economy {
  font-size: 12px;
  display: flex;
  background-color: #bebebe;
  border: gray 1px solid;
  border-radius: 25px;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  margin: 5px 0px 0px 30px;
}

.espacio {
  padding-right: 5px;
  padding-left: 5px;
}

.horario {
  display: flex;
  padding: 0px 30px 15px 30px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: gray 1px dotted;
}

h3,
h4,
h2 {
  margin: 0px;
}

.hora {
  font-size: 24px;
  font-weight: 700;
}

.latam {
  display: flex;
  align-items: center;
}

.salida {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipaje {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  width: 20%;
}

.horario-adentro {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.reservar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #cccccc;
}

.reservar-precio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-reservar {
  padding: 10px 50px;
  margin: 10px;
  background-color: rgb(150, 121, 255);
  border-radius: 15px;
  transition: 1s;
}

.boton-reservar:hover {
  background-color: rgb(124, 88, 255);
}

.main-abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-abajo-adentro {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px 15px 0px 15px;
}

.m-a-a {
  padding-right: 5px;
}

button:hover {
  background-color: #f2cb07;
}

.buscador-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.boton-buscador-vuelos {
  color: white;
  font-weight: 900;
  background-color: #181b59;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.boton-buscador-vuelos:hover {
  background-color: #f2cb07;
}

.fondo-buscador-vuelos {
  background-color: #dbdbdb;
  margin: 0px;
  height: 50px;
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.margin-label{
margin-right: 10px;
}

.margen-buscador-vuelos{
margin-top:10px;
margin-bottom: 25px;}

.titulo-buscador-vuelos{
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .burger-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .a {
    display: none;
  }

  .horario-adentro {
    width: 100%;
  }

  .equipaje {
    width: auto;
  }

  .hora {
    font-size: 22px;
  }

  .tama単o-boton {
    font-size: 13px;
  }

  .tama単o-main {
    font-size: 14px;
  }

  .main-abajo {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .burger-menu {
    display: none;
  }

  .burger-container {
    display: none;
  }

  .tama単o-boton {
    font-size: 11px;
  }

  .tama単o-main {
    font-size: 12px;
  }

  
}

@media (max-width: 361px) {
  .main-nav {
    display: none;
  }
}