@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Heebo:wght@300;400&family=Hind+Siliguri:wght@500&family=Montserrat&family=Roboto:wght@100;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

header img {
  width: 30%;
  margin: 1vw;
}

header i {
  font-size: 3vw;
  margin: 10px;
  color: rgb(255, 255, 255);
}

.iconos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #181b59;
}

i:hover {
  color: lightblue;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #f2f2f2;
}

.menu__item:hover {
  background-color: #dedddd;
}

.menu a {
  text-decoration: none;
  height: 40px;
}

.menu__link {
  font-size: 12px;
  color: #181b59;
  display: flex;
  align-items: center;
}


/* Estilos para el product list */
.flight-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flight-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.flight-number {
  font-size: 18px;
  font-weight: bold;
  color: #181b59;
}

.titles {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.departure-date-badge {
  display: inline-block;
  background-color: #3498db;
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  margin-right: 5px;
}

/* Estilos adicionales a tu elección */

/* Estilos para los botones de edición y eliminación */

.buttons {
  margin: 5px;
}

.edit-button,
.delete-button {
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.edit-button {
  background-color: #181b59;
  color: white;
  margin-right: 10px;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #34495e;
  color: lightblue;
}

/*//*/


.bi-arrow-down-square-fill {
  padding-left: 0.08cm;
  margin-bottom: -1.8%;
}

.body {
  display: grid;
  min-height: 200vh;
  grid-template-rows: auto 1fr auto;
}

.contenedor-aero {
  position: relative;
  display: flex;
  margin-top: 100px;
  margin-bottom: 200px;
}

.aero1 {
  background-color: rgb(144, 222, 255);
  font-size: 25px;
  font-weight: 900;
  color: white;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  left: 120px;
  border-radius: 45%;
}

.aero2 {
  background-color: yellow;
  font-size: 25px;
  font-weight: 900;
  color: red;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  left: 520px;
  border-radius: 45%;
}

.aero3 {
  background-color: #0151ff;
  font-size: 25px;
  font-weight: 900;
  color: white;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  left: 920px;
  border-radius: 45%;
}

footer {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  display: block;
}

.subtitulo {
  margin-top: -1cm;
  margin-left: 3cm;
  font-size: large;
  color: rgb(0, 0, 100);
}

.nav-bar {
  background: #2b01ff;
  padding: 20px;
  display: block;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  width: 100%;
}

.menu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  background: #555;
  width: 100%;
  margin-left: -100%;
  transition: all 0.5s;
}

.menu__link {
  display: block;
  padding: 20px;
  color: white;
  font-size: 1.2em;
}

.submenu {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.lateral-link {
  color: #222;
  text-decoration: none;
}

.mostrar {
  margin-left: 0;
}

li a {
  display: block;
  color: white;
  padding: 2px 2px;
  text-decoration: none;
  cursor: pointer;
}

.contenedor {
  margin-left: 25%;
  padding: 1px 16px;
  height: 500px;
}

.contenedor-montevideo {
  display: inline;
}

.contenedor-bogota {
  display: inline;
}

.contenedor-buenosAires {
  display: inline;
}

@media (min-width: 1024px) {
  .imagen {
    margin-top: 0;
    margin-left: 5.5cm;
  }

  .nav-bar {
    display: none;
  }

  .menu {
    margin-left: 0;
    display: flex;
  }

  .container-submenu {
    position: relative;
  }

  .submenu {
    position: absolute;
    top: 66px;
    width: 180px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }

  .container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
  }
}

#titulo {
  text-align: center;
}

header img {
  width: 30%;
  margin: -3vw;
}

header i {
  font-size: 3vw;
  margin: 10px;
  color: rgb(255, 255, 255);
}

.iconos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #181b59;
}

ul {
  list-style: none;
}

.imagen-header {
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #f2f2f2;
}

.menu__item:hover {
  background-color: #dedddd;
}

.menu a {
  text-decoration: none;
  height: 40px;
}

.menu__link {
  font-size: 12px;
  color: #181b59;
  display: flex;
  align-items: center;
}

.burger-menu {
  color: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  padding: 0px 0px 20px 0px;
  margin: 0px;
  background-color: #fff;
}

footer {
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
}

p {
  padding: 0px;
  margin: 0px;
}

.icono {
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.icono1 {
  margin-left: 1px;
  margin-right: 1px;
}

.icono12 {
  margin-right: 3px;
}

.main-arriba {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: gray dashed 1px;
}

.arriba-izq {
  margin: 5px;
  margin-left: 10px;
}

.arriba-der {
  margin-right: 10px;
}

.boton-main-arriba {
  margin: 1px;
  display: flex;
  padding: 1px;
}

.fecha-cantidad {
  display: flex;
  padding: 1px;
}

.span-header {
  display: flex;
}

.fyc {
  margin-left: 3px;
  margin-right: 3px;
}

.titulos-footer {
  display: flex;
  color: white;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h6 {
  margin: 0px;
}

.main-arriba1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.boton-main2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.rcmbmc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-main3 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 23vw;
  justify-content: center;
}

.boton-int {
  margin: 5px;
}

.boton-int1 {
  margin: 5px;
  color: #bebebe;
}

.cuadrado {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin: 20px;
}

.cuadrado-ultimo {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin: 20px 20px 0px 20px;
}

.titulo-cuadrado {
  background-color: #181b59;
  color: white;
  display: flex;
  padding: 10px;
  padding-left: 20px;
  font-size: 14px;
  border-bottom: solid 1px black;
}

.subtitulo {
  display: flex;
  justify-content: center;
  background-color: #cccccc;
  padding: 2px;
}

.economy {
  font-size: 12px;
  display: flex;
  background-color: #bebebe;
  border: gray 1px solid;
  border-radius: 25px;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  margin: 5px 0px 0px 30px;
}

.espacio {
  padding-right: 5px;
  padding-left: 5px;
}

.horario {
  display: flex;
  padding: 0px 30px 15px 30px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: gray 1px dotted;
}

h3,
h4,
h2 {
  margin: 0px;
}

.hora {
  font-size: 24px;
  font-weight: 700;
}

.latam {
  display: flex;
  align-items: center;
}

.salida {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipaje {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  width: 20%;
}

.horario-adentro {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.reservar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #cccccc;
}

.reservar-precio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-reservar {
  padding: 10px 50px;
  margin: 10px;
  background-color: rgb(150, 121, 255);
  border-radius: 15px;
  transition: 1s;
}

.boton-reservar:hover {
  background-color: rgb(124, 88, 255);
}

.main-abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-abajo-adentro {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 15px 15px 0px 15px;
}

.m-a-a {
  padding-right: 5px;
}

/*
.buscador-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.boton-buscador-vuelos {
  color: white;
  font-weight: 900;
  background-color: #181b59;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.boton-buscador-vuelos:hover {
  background-color: #f2cb07;
}

.fondo-buscador-vuelos {
  background-color: #dbdbdb;
  margin: 0px;
  height: 50px;
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.margin-label {
  margin-right: 10px;
}

.margen-buscador-vuelos {
  margin-top: 10px;
  margin-bottom: 25px;
}

.titulo-buscador-vuelos {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
*/

.titulo-bienvenidos {
  text-align: center;
  font-size: 24px;
  color: #181b59;
}

.div-nuestra-empresa {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  width: 45%;
  height: 240px;
  margin: 20px;
  background-color: white;
}




.flex-nuestra-empresa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f1f4
}

.flex-img-home {
  display: flex;
}

.img-centrada-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenes-home {
  width: 80%;
  border-radius: 15px;
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .burger-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .a {
    display: none;
  }

  .horario-adentro {
    width: 100%;
  }

  .equipaje {
    width: auto;
  }

  .hora {
    font-size: 22px;
  }

  .tamaño-boton {
    font-size: 13px;
  }

  .tamaño-main {
    font-size: 14px;
  }

  .main-abajo {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .burger-menu {
    display: none;
  }

  .burger-container {
    display: none;
  }

  .tamaño-boton {
    font-size: 11px;
  }

  .tamaño-main {
    font-size: 12px;
  }


}

@media (max-width: 361px) {
  .main-nav {
    display: none;
  }
}



/* Estilos para la barra de búsqueda con botón de búsqueda y opciones más llamativos */
.margen-buscador-vuelos {
  margin: 20px;
}

.titulo-buscador-vuelos {
  font-size: 24px;
  color: #181b59;
  margin-bottom: 10px;
  text-align: center;
}

.paises-home {
  margin: 15px
}

.buscador-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #f8f9fc;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.buscador-flex:hover {
  background-color: #f0f1f4;
}

.margin-label {
  font-size: 1.5rem;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
  color: #181b59;
}

/* Estilos para el botón de búsqueda */

.boton-buscador {
  border: none;
  background-color: transparent;
}

.boton-buscador-vuelos {
  font-size: 24px;
  color: #fff;
  background-color: #181b59;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.boton-buscador-vuelos:hover {
  background-color: #0a0c2e;
}

/* Estilos para los inputs */
.fondo-interno {
  background-color: #f0f1f4;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.fondo-interno:hover {
  background-color: #e2e4e7;
  transform: translateY(-3px);
}

.input-buscador {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #181b59;
  transition: background-color 0.3s;
}

.input-buscador:focus {
  outline: none;
  background-color: #e2e4e7;
}

/* Estilos para el radio input */
/* Estilos para el radio input */
.radio-container {
  display: flex;
  gap: 15px;
}

.radio-label {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  color: #181b59;
}

.radio-label input[type="radio"] {
  appearance: none;
  /* Elimina la apariencia predeterminada del radio button */
  width: 20px;
  height: 20px;
  border: 2px solid #181b59;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  transition: border-color, background-color 0.6s;
}

.radio-label input[type="radio"]:checked {
  border-color: #0a0c2e;
  background-color: #181b59;
  /* Cambia el color de fondo cuando está seleccionado */
}

.radio-label {
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Estilos adicionales a tu elección */

/* Colores de fondo para los divs internos */
.fondo-interno {
  background-color: #f0f1f4;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.fondo-interno:hover {
  background-color: #e2e4e7;
  transform: translateY(-3px);
}

/* Estilos adicionales a tu elección */


/* Media queries para tablet */
@media (max-width: 1024px) {
  .buscador-flex {
    padding: 10px;
  }

  .input-buscador,
  .boton-buscador-vuelos {
    font-size: 14px;
  }

  .radio-container {
    flex-direction: row;
    align-items: center;
  }

  .radio-label {
    font-size: 12px;
  }

  .radio-label input[type="radio"] {
    width: 16px;
    height: 16px;
  }
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .buscador-flex {
    padding: 10px;
  }

  .input-buscador,
  .boton-buscador-vuelos {
    font-size: 12px;
  }

  .radio-container {
    flex-direction: column;
  }

  .radio-label {
    font-size: 10px;
  }

  .radio-label input[type="radio"] {
    width: 14px;
    height: 14px;
  }
}