@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Heebo:wght@300;400&family=Hind+Siliguri:wght@500&family=Montserrat&family=Roboto:wght@100;400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

header img {
  width: 30%;
  margin: -3vw;
}

header i {
  font-size: 3vw;
  margin: 10px;
  color: rgb(255, 255, 255);
}

i:hover {
  color: lightblue;
}

.iconos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #181b59;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  font-weight: bold;
  background-color: #f2f2f2;
}

.menu__item:hover {
  background-color: #dedddd;
}

.menu a {
  text-decoration: none;
  height: 40px;
}

.menu__link {
  font-size: 12px;
  color: #181b59;
  display: flex;
  align-items: center;
  padding: 20px;
}

.burger-menu {
  color: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bi-arrow-down-square-fill {
  padding-left: 0.08cm;
  margin-bottom: -1.8%;
}

body {
  margin: 0px;
}

h3 {
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #181b59;
  height: 40px;
  display: flex;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 15px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.nombre-apellido {
  margin-top: 40px;
  margin-bottom: 20px;
}

.nombre-apellido,
.pagos,
.pedido {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f2f2f2;
  border: black 1px solid;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

h6 {
  margin: 0px;
}

h2 {
  text-align: center;
}

section input {
  margin: 0 20px 15px;
}

label {
  color: black;
  font-size: 15px;
  margin: 10px;
}

.botones-ingresar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  cursor: pointer;
  margin: 30px;
  width: 45vw;
  height: 5vh;
  border: 0px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: #292fa2;
  transition: color 300ms;
  margin-top:10px
}

.link-register {
  text-align: center;
  padding: 20px;
}

.tyc {
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
}

.link-tc {
  color: #292fa2;
  text-decoration: underline;
  transition: color 300ms;
}

.link-tc:hover {
  color: #f2cb07;
  text-decoration: none;
}

.main-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

i:hover {
  color: lightblue;
}

button:hover {
  background-color: #181b59;
}

.login-main {
  margin-top: 15px;
}

footer {
  background-color: black;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: white;
}

.titulos-footer {
  display: flex;
  color: white;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*cel*/

@media (max-width: 480px) {
  .main-nav {
    display: none;
  }
  
  .botones-ingresar {
    font-size: 10px;
}
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}

/* tablet */
@media (min-width: 525px) and (max-width: 768px) {
  .burger-menu {
    display: none;
  }

  .burger-container {
    display: none;
  }
  .botones-ingresar {
    font-size: 12px;
}
button {
  width: 25vw;
  height: 5vh;
}
}

/* tablet */
@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .burger-container {
    display: none;
  }
  button {
    width: 20vw;
    height: 4vh;
  }
}

/*Monitor*/
@media (min-width: 1000px) {
  .burger-menu {
    display: none;
  }

  .burger-container {
    display: none;
  }
  button {
    width: 15vw;
    height: 4vh;
  }
}