@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Heebo:wght@300;400&family=Hind+Siliguri:wght@500&family=Montserrat&family=Roboto:wght@100;400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

header img {
    width: 30%;
    margin: 1vw;
}

header i {
    font-size: 3vw;
    margin: 10px;
    color: rgb(255, 255, 255);

}

.iconos-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #181B59;

}

ul {
    list-style: none;
}

.imagen-header {
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    Font-Weight: bold;
    background-color: #F2F2F2;


}

.menu__item:hover {
    background-color: #dedddd;
}

.menu a {
    text-decoration: none;
    height: 40px;


}

.menu__link {
    font-size: 12px;
    color: #181B59;
    display: flex;
    align-items: center;
}

.burger-menu {
    color: #ffffff;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

h3 {
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: #181B59;
    height: 40px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-bottom: 15px;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.nombre-apellido,
.pagos,
.pedido {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    width: 90%;
    background-color: #F2F2F2;
    border: black 1px solid;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

}

h6 {
    margin: 0px;
}

h2 {
    text-align: center;
}

section input {
    margin-bottom: 20px;
}

label {
    color: black;
    font-size: 15px;
    margin: 5px;
}

button {
    color: white;
    background: green;
    text-align: center;
    width: 90%;
    height: 4vh;
    border-radius: 6px;
    border: white;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    font: arial;
    margin-bottom: 50px;


}

.main-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

i:hover {
    color: #F2CB07;
}

button:hover {
    background-color: #F2CB07;
}

footer {
    padding: 0px;
    margin: 0px;
    background-color: #000000;
}

.login-main {
    margin-top: 15px;
}

.titulos-footer {
    display: flex;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*cel*/

@media (max-width: 361px) {

    .main-nav {
        display: none;
    }
}



@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }
}

/* tablet */
@media (min-width: 362px) and (max-width: 768px) {

    .burger-menu {
        display: none;
    }

    .burger-container {
        display: none;
    }
}

/* tablet */
@media (min-width: 769px) {

    .burger-menu {
        display: none;
    }

    .burger-container {
        display: none;
    }
}