header img {
    width: 20vw;
    margin: 1vw;
}

header i {
    font-size: 3vw;
    margin: 10px;
    color: black;
}


header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

ul {
    list-style: none;
}

.imagen-header {
    width: 100%;
}

* {
    font-family: 'arial';
}

.main-nav {
    background-color: #ffffff;

}

.menu {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    Font-Weight: bold;
    border-top: solid rgb(163, 214, 242);;
    background-color: #ededed;

}

.menu a {
    text-decoration: none;
    
}

.menu__link{
font-size: 12px;
color: black;
}

h2 {
    color: black;
    font-size: 22px;
    margin: 20px;
}

h3 {
    color: #767676;
    font-size: 18px;
    text-align: center;
    margin: 20px;

}

section {
    margin-bottom: 50px;
    box-sizing: border-box;
}

.nombre-apellido,
.pagos,
.pedido {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    width: 50%;
    height: 240px;
    border: solid #bccdd133;
    background-color: #a0b7c717;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.331);
}

label {
    color: black;
    font-size: 15px;
    margin: 5px;
}

button {
    color: white;
    background: green;
    width: 20vw;
    height: 4vh;
    border-radius: 6px;
    border: white;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    font: arial;
    margin-bottom: 50px;


}