<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcour</title>
    <link rel="icon" href="/images/Logo-ARCOUR.ico">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>

    <main>

        <div class="contenido-register">

            <div class="login-box">
                <h1>Formulario de Carga y Edición de Productos</h1>
                <h2 class="register-subtitulo">01 Datos de la Empresa</h2>
                <form action="/" method="get" class="register-form">

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="name" title>Nombre de la Empresa</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="text" maxlength="25" id="name" name="nombre">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="apellidos" title>País de Orígen</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="text" maxlength="15" id="pais" name="pais">
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="register-subtitulo2">02 Datos de Acceso</h2>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="mail" title>Correo electrónico</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="email" maxlength="40" id="mail" name="correo-mail">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="mail-re" title>Confirmar correo electrónico</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="email" maxlength="40" id="mail-re"
                                        name="correo-mail-reconfirm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pass">Contraseña</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="password" maxlength="15" id="pass" name="contraseña">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pass-re" title>Confirmar contraseña</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="password" maxlength="15" id="pass-re"
                                        name="contraseña-reconfirm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pais" title>País a agregar Ruta</label>
                                </div>
                                <div class="ant-input">
                                    <select name="pais" id="pais">
                                        <option value="argentina" selected>Argentina</option>
                                        <option value="colombia">Colombia</option>
                                        <option value="uruguay">Uruguay</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="aereo" title>Monto del pasaje agregado</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="text" maxlength="15" id="pais" name="pais">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="aereo" title>Confirmación de Monto</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="text" maxlength="15" id="pais" name="pais">
                                </div>
                            </div>
                        </div>

                    </div>


                    <h2 class="register-subtitulo2">03 Observaciones</h2>
                    <div class="ant-input">
                        <input class="input-box" type="text" maxlength="500" id="pais" name="pais">
                    </div>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-input">
                                    <label class="label-tyc">
                                        <span class="ant-checkbox">
                                            <input type="checkbox" id="check" name="t&c">
                                            <span class="ant-checkbox-inner"></span>
                                        </span>
                                        <span class="tyc">
                                            Acepto<a target="_blank" class="link-tc" href="">&nbsp;Términos y
                                                Condiciones&nbsp;</a>
                                            y<a target="_blank" class="link-tc" href="">&nbsp;políticas de protección de
                                                datos&nbsp;</a>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crear-cuenta">
                        <button title="Crear Cuenta" type="submit" class="boton-submit">
                            <span>Ingresar Moficicaciones Autorizadas</span>
                        </button>
                    </div>
                </form>
            </div>
    </main>

    <script>src = "script.js"</script>

    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>