<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ARCOUR</title>
<link rel="icon" href="/images/Logo-ARCOUR.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/styleCarrito.css">

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>

</body>

<main>

    <div class="main-flex">
        <section>

            <div class="nombre-apellido login-main">
                <h3>Administra y carga productos</h3>
                <div class="lista">
                    <ul>
                        <a href="/products/create"><h4>Accede al formulario de creación de productos</h4></a>
                        <a href="/products/data"><h4>Accede a la lista de datos de vuelo</h4></a>
                        <a href="/users/create"><h4></h4></a>
                    </ul>
                </div>
                    
                
            </div>
        </section>
    </div>
</main>

<footer>
    <%- include("../partials/footer.ejs") %>
</footer>

</html>