<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>

    <main>
        <div class="contenido-register">
          <div class="login-box">
            <div class="user-avatar">
                <h2 class="titulo-buscador-vuelos">Hola Camila!</h2>
              <img src="/images/person.jpg" alt="Imagen de Usuario">
            </div>
           
              <div class="input-box">
                <h3>Nombre y Apellido</h3> <br>
                <p>Camila Barreto</p>
               </div>
              <div class="input-box">
                <h3>Documento de Identidad</h3> <br>
                <p>12345675</p>
               
              </div>
              <div class="input-box">
                <h3>Fecha de Nacimiento</h3><br>
                <p>00/00/0000</p>
               
              </div>

              <div class="input-box">
                <h3>Número de Celular</h3><br>
                <p>05455124554</p>
              </div>
              <div class="input-box">
                <h3>Correo Electrónico</h3><br>
                <p>camila@gmail.com</p>
                
              </div>
              <div class="botones">
                <button class="boton-submit" id="editar">Editar</button>
                <button class="boton-submit" id="eliminar">Eliminar</button>
              </div>
           
          </div>
        </div>
      </main>
