<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCOUR</title>
    <link rel="icon" href="/images/Logo-ARCOUR.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>

    <main>

        <div class="contenido-register">

            <div class="login-box">
                <h2 class="titulo">Crea tu cuenta de Usuario</h2>
                <h2 class="register-subtitulo">01 Datos Personales</h2>
                <form action="/users/post" method="post" class="register-form">

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="name" title>Nombre</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="text" maxlength="25" id="name" name="nombre">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="apellidos" title>Apellidos</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="text" maxlength="15" id="apellidos" name="apellidos">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="gender">Género:</label>
                                </div>
                                <div class="ant-input">
                                    <select name="genero" id="gender">
                                        <option value="masculino" selected>Masculino</option>
                                        <option value="femenino">Femenino</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="id" title>Número de documento</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="number" maxlength="15" id="id" name="documento">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="fecha" title>Fecha de nacimiento</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="date" id="fecha" name="fechaNacimiento">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="cel" title>Celular</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="text" maxlength="15" id="cel" name="celular">
                                </div>
                            </div>
                        </div>


                    </div>

                    <h2 class="register-subtitulo2">02 Datos de Acceso</h2>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="mail" title>Correo electrónico</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="email" maxlength="40" id="mail" name="mail">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="mail-re" title>Confirmar correo electrónico</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="email" maxlength="40" id="mail-re"
                                        name="correo-mail-reconfirm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pass">Contraseña</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="password" maxlength="15" id="pass" name="contraseña">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pass-re" title>Confirmar contraseña</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box" type="password" maxlength="15" id="pass-re"
                                        name="contraseña-reconfirm">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pais" title>País</label>
                                </div>
                                <div class="ant-input">
                                    <select name="pais" id="pais">
                                        <option value="argentina" selected>Argentina</option>
                                        <option value="colombia">Colombia</option>
                                        <option value="uruguay">Uruguay</option>
                                        <option value="bolivia">Bolivia</option>
                                        <option value="paraguay">Paraguay</option>
                                        <option value="peru">Peru</option>
                                        <option value="brasil">Brasil</option>
                                        <option value="venezuela">Venezuela</option>
                                        <option value="chile">Chile</option>
                                        <option value="ecuador">Ecuador</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="aereo" title>Aerolínea preferida</label>
                                </div>
                                <div class="ant-input">
                                    <select name="aerolinea" id="aereo">
                                        <option value="latam" selected>LATAM Airlines</option>
                                        <option value="avianca">Avianca</option>
                                        <option value="aero-ar">Aerolíneas Argentinas</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>


                    <h2 class="register-subtitulo2">03 Información Adicional</h2>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-input">
                                    <label class="label-tyc">
                                        <span class="ant-checkbox">
                                            <input type="checkbox" id="check" name="t&c">
                                            <span class="ant-checkbox-inner"></span>
                                        </span>
                                        <span class="tyc">
                                            Acepto<a target="_blank" class="link-tc" href="">&nbsp;Términos y
                                                Condiciones&nbsp;</a>
                                            y<a target="_blank" class="link-tc" href="">&nbsp;políticas de protección de
                                                datos&nbsp;</a>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crear-cuenta">
                        <button title="Crear Cuenta" type="submit" class="boton-submit">
                            <span>Crear Cuenta</span>
                        </button>
                    </div>
                </form>
            </div>
    </main>


    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>