<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<header>
    <%- include("../partials/header.ejs") %>
</header>

<nav>
    <%- include("../partials/navBar.ejs") %>
</nav>

<body>

    <h2 id="titulo">Contactate con nosotros</h2>
    <h4 id="parrafo"> Nuestras vias de comunicacion son:</h4>
    <p id="parrafo"></p>

</body>
<footer>
    <%- include("../partials/footer.ejs") %>
</footer>

</html>