<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCOUR</title>
    <link rel="icon" href="/images/Logo-ARCOUR.ico">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>

        <img src="/images/arcour-fondo-blanco.png">
        <div class="iconos-header">
            <i class="fas fa-user"></i>
            <i class="fas fa-shopping-cart"></i>
            <div class="burger-menu">
                <i class="fas fa-bars" style="color: white;"></i>
            </div>
        </div>
    </header>

    <nav class="main-nav">
        <ul class="menu" id="menu">
            <li class="menu__item"><a href="/" class="menu__link">HOME</a></li>
            <li class="menu__item container-submenu"><a href="#" class="menu__link submenu-btn">DESTINOS <svg
                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                        <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
                    </svg></a>
            </li>
            <li class="menu__item"><a href="nuestra-empresa" class="menu__link">NUESTRA EMPRESA</a></li>
            <li class="menu__item"><a href="empresas-amigas" class="menu__link">EMPRESAS AMIGAS</a></li>
            <li class="menu__item"><a href="contacto" class="menu__link">CONTACTO</a></li>
        </ul>
        </div>
    </nav>

    <script>src = "script.js"</script>

    <main>
        <h2 id="titulo">Bienvenido a ARCOUR</h2>
        <div class="contenedor-lateral">
            <h4 class="productos"><a class="lateral-link" href="/products/product-detail">Productos que ofrecemos</a></h4>
            <h4 class="carrito"><a class="lateral-link" href="/products/product-cart">Carrito de Compras</a></h4>
            <h4 class="registro"><a class="lateral-link" href="/users/register">Registrate en ARCOUR</a></h4>
            <h4 class="login"><a class="lateral-link" href="/users/login">Ingresa a tu Cuenta de ARCOUR</a></h4>
        </div>
    </main>

    <script type="module" src="script.js"></script>
    <script src="https://kit.fontawesome.com/09f652ea2a.js" crossorigin="anonymous"></script>

    <footer class="footer">Todos los Derechos Reservados ® 2023 ARCOUR</footer>
</body>


</html>