<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>


    <main>
        <br>
        <h2 id="titulo">Bienvenido a ARCOUR</h2><br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui modi tempore earum? Reiciendis alias, maiores
            veniam explicabo eligendi magnam ipsam nisi cupiditate rerum a est dolore placeat, dolorum aut ex?Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam corporis tempora consequatur aut,
            expedita reprehenderit exercitationem? Optio fugit vel, ratione voluptate iure, tempora iusto dolor eligendi
            obcaecati nemo dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta saepe dicta
            sit vitae repudiandae ipsum ullam et eligendi iste, facere nihil est provident dolor aliquam placeat quod
            magnam sint. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui modi tempore earum? Reiciendis
            alias, maiores veniam explicabo eligendi magnam ipsam nisi cupiditate rerum a est dolore placeat, dolorum
            aut ex?Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam corporis tempora
            consequatur aut, expedita reprehenderit exercitationem? Optio fugit vel, ratione voluptate iure, tempora
            iusto dolor eligendi obcaecati nemo dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Minima soluta saepe dicta sit vitae repudiandae ipsum ullam et eligendi iste, facere nihil est provident
            dolor aliquam placeat quod magnam sint.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui modi
            tempore earum? Reiciendis alias, maiores veniam explicabo eligendi magnam ipsam nisi cupiditate rerum a est
            dolore placeat, dolorum aut ex?Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam
            corporis tempora consequatur aut, expedita reprehenderit exercitationem? Optio fugit vel, ratione voluptate
            iure, tempora iusto dolor eligendi obcaecati nemo dolorem. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Minima soluta saepe dicta sit vitae repudiandae ipsum ullam et eligendi iste, facere nihil
            est provident dolor aliquam placeat quod magnam sint.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui modi tempore earum? Reiciendis alias, maiores
            veniam explicabo eligendi magnam ipsam nisi cupiditate rerum a est dolore placeat, dolorum aut ex?Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam corporis tempora consequatur aut,
            expedita reprehenderit exercitationem? Optio fugit vel, ratione voluptate iure, tempora iusto dolor eligendi
            obcaecati nemo dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta saepe dicta
            sit vitae repudiandae ipsum ullam et eligendi iste, facere nihil est provident dolor aliquam placeat quod
            magnam sint.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui modi tempore earum? Reiciendis alias, maiores
            veniam explicabo eligendi magnam ipsam nisi cupiditate rerum a est dolore placeat, dolorum aut ex?Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam corporis tempora consequatur aut,
            expedita reprehenderit exercitationem? Optio fugit vel, ratione voluptate iure, tempora iusto dolor eligendi
            obcaecati nemo dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta saepe dicta
            sit vitae repudiandae ipsum ullam et eligendi iste, facere nihil est provident dolor aliquam placeat quod
            magnam sint.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui modi tempore earum? Reiciendis alias, maiores
            veniam explicabo eligendi magnam ipsam nisi cupiditate rerum a est dolore placeat, dolorum aut ex?Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam corporis tempora consequatur aut,
            expedita reprehenderit exercitationem? Optio fugit vel, ratione voluptate iure, tempora iusto dolor eligendi
            obcaecati nemo dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta saepe dicta
            sit vitae repudiandae ipsum ullam et eligendi iste, facere nihil est provident dolor aliquam placeat quod
            magnam sint.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui modi tempore earum? Reiciendis alias, maiores
            veniam explicabo eligendi magnam ipsam nisi cupiditate rerum a est dolore placeat, dolorum aut ex?Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Maxime quibusdam corporis tempora consequatur aut,
            expedita reprehenderit exercitationem? Optio fugit vel, ratione voluptate iure, tempora iusto dolor eligendi
            obcaecati nemo dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta saepe dicta
            sit vitae repudiandae ipsum ullam et eligendi iste, facere nihil est provident dolor aliquam placeat quod
            magnam sint.
        </p>
    </main>


    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>


</html>