<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>


    <main>
        <div class="margen-buscador-vuelos">
            <h5 class="titulo-buscador-vuelos">Buscador de vuelos</h5>
            <div class="buscador-flex fondo-buscador-vuelos">
                <div class="fondo-buscador-vuelos">
                    <label for="origen" title class="margin-label">Origen</label>
                    <select name="origen">
                        <option value="uruguay" selected>Uruguay</option>
                        <option value="argentina">Argentina</option>
                        <option value="colombia">Colombia</option>

                    </select>
                </div>
                <div class="fondo-buscador-vuelos">
                    <label for="destino" title class="margin-label">Destino</label>
                    <select name="destino">
                        <option value="uruguay">Uruguay</option>
                        <option value="argentina" selected>Argentina</option>
                        <option value="colombia">Colombia</option>

                    </select>
                </div>
                <div class="fondo-buscador-vuelos">
                    <label for="partida" title class="margin-label">Partida</label>
                    <input type="date" name="partida">
                </div>
                <div class="fondo-buscador-vuelos">
                    <label for="arribo" title class="margin-label">Arribo</label>
                    <input type="date" name="arribo">
                </div>
                <div>
                    <i class="fa-solid fa-magnifying-glass boton-buscador-vuelos"></i>
                </div>
            </div>
        </div>
        <h5 class="titulo-buscador-vuelos">Opciones de destinos</h5>
        <div class="flex-img-home">
            <div class="img-centrada-home">
                <img class="imagenes-home" src="images/punta-ballena.jpg">
                <h3>Punta Ballena</h3>
            </div>
            <div class="img-centrada-home">
                <img class="imagenes-home" src="images/colombia-playa.jpg">
                <h3>Tayrona</h3>
            </div>
            <div class="img-centrada-home">
                <img class="imagenes-home" src="images/bs-as.jpg">
                <h3>Buenos Aires</h3>
            </div>
        </div>
        <h2 class="titulo">
            ¡Bienvenidos a la presentación de ARCOUR: Conexión Aeronáutica entre Colombia, Argentina y Uruguay!
        </h2>

        <p class="parrafo">

            Introducción:
            ARCOUR es un emocionante proyecto que tiene como objetivo principal ofrecer un servicio de aeronáutica
            innovador, brindando una conexión sin precedentes entre tres países. Gracias a un acuerdo histórico entre
            Colombia, Argentina y Uruguay, hemos creado una plataforma que facilitará a nuestros usuarios una forma
            sencilla, económica y conveniente de viajar y conectarse entre sí.
        </p>

        <p class="parrafo">
            La Experiencia de Viaje:
            En nuestra plataforma, encontrarás tres aerolíneas estrellas que se han unido para ofrecerte una experiencia
            excepcional de viaje. Estas aerolíneas líderes en la industria te brindarán un servicio de calidad y
            comodidad mientras te conectas entre Colombia, Argentina y Uruguay en trayectos de Ida y Vuelta.
        </p>

        <h2 class="titulo">
            Beneficios para los Usuarios:
        </h2>

        <p class="parrafo">
            Al elegir ARCOUR, podrás disfrutar de una serie de beneficios que mejorarán tu experiencia de viaje. Estos
            incluyen:
        </p>

        <article>
            1. Conexión Directa: Nuestro servicio de aeronáutica te permite volar sin escalas entre los destinos de
            Colombia, Argentina y Uruguay, lo que reduce significativamente los tiempos de viaje y te brinda mayor
            comodidad.

        </article>

        <article>
            2. Precios Competitivos: Nos enorgullece ofrecer tarifas accesibles que se ajustan a diferentes
            presupuestos,
            permitiéndote aprovechar al máximo tu dinero mientras disfrutas de un servicio de calidad.

        </article>

        <article>
            3. Personalización: Entendemos que cada viajero es único. Por eso, te brindamos la flexibilidad de
            personalizar tu experiencia de viaje, eligiendo entre una variedad de opciones que se adaptan a tus
            necesidades y preferencias.

        </article>

        <article>
            4. Interconexión Cultural: ARCOUR no solo se trata de viajar de un lugar a otro, sino también de explorar y
            sumergirte en la rica cultura de estos tres países. Te brindamos la oportunidad de descubrir nuevos
            destinos, vivir experiencias inolvidables y crear recuerdos duraderos.

        </article>

    </main>


    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>


</html>