<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>


    <main>
        <h2 id="titulo">Bienvenido a ARCOUR</h2>
        <div class="contenedor-lateral">
            <h4 class="productos"><a class="lateral-link" href="/products/product-detail">Productos que ofrecemos</a>
            </h4>
            <h4 class="carrito"><a class="lateral-link" href="/products/product-cart">Carrito de Compras</a></h4>
            <h4 class="registro"><a class="lateral-link" href="/users/register">Registrate en ARCOUR</a></h4>
            <h4 class="login"><a class="lateral-link" href="/users/login">Ingresa a tu Cuenta de ARCOUR</a></h4>
            <h4 class="admin"><a class="lateral-link" href="/users/admin">Cuenta de Administrador</a></h4>
        </div>
    </main>


    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>


</html>