<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>


    <main>
        <div class="margen-buscador-vuelos">
            <h5 class="titulo-buscador-vuelos">Buscador de vuelos</h5>
            <div class="buscador-flex fondo-buscador-vuelos">
                <form action="/products/product-detail" method="get" class="buscador-flex fondo-buscador-vuelos">
                    <div class="fondo-buscador-vuelos fondo-interno">
                        <label for="origen" title class="margin-label">Origen</label>
                        <select name="departureAirport" id="origen" class="input-buscador">
                            <option value="Aeropuerto Internacional El Dorado" selected>Aeropuerto Internacional El
                                Dorado</option>
                            <option value="Aeropuerto Internacional Ministro Pistarini">Aeropuerto Internacional
                                Ministro Pistarini</option>
                            <option value="Aeropuerto Internacional de Carrasco">Aeropuerto Internacional de Carrasco
                            </option>
                        </select>
                    </div>
                    <div class="fondo-buscador-vuelos fondo-interno">
                        <label for="destino" title class="margin-label">Destino</label>
                        <select name="arrivalAirport" id="destino" class="input-buscador">
                            <option value="Aeropuerto Internacional El Dorado" selected>Aeropuerto Internacional El
                                Dorado</option>
                            <option value="Aeropuerto Internacional Ministro Pistarini">Aeropuerto Internacional
                                Ministro Pistarini</option>
                            <option value="Aeropuerto Internacional de Carrasco">Aeropuerto Internacional de Carrasco
                            </option>
                        </select>
                    </div>
                    <div class="fondo-buscador-vuelos fondo-interno">
                        <label for="partida" title class="margin-label">Partida</label>
                        <input type="date" name="departureDate" id="partida" class="input-buscador">
                    </div>
                    <div class="fondo-buscador-vuelos fondo-interno">
                        <label for="arribo" title class="margin-label">Arribo</label>
                        <input type="date" name="returnDate" id="arribo" class="input-buscador">
                    </div>
                    <div class="fondo-buscador-vuelos fondo-interno">
                        <label class="margin-label">Tipo de vuelo</label>
                        <div class="radio-container">
                            <label class="radio-label">
                                <input type="radio" name="flightType" value="ida" checked class="input-buscador">
                                Solo Ida
                            </label>
                            <label class="radio-label">
                                <input type="radio" name="flightType" value="ida-vuelta" class="input-buscador">
                                Ida y Vuelta
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="boton-buscador" type="submit">
                            <i class="fa-solid fa-magnifying-glass boton-buscador-vuelos"></i>
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <div class="margen-buscador-vuelos">
            <h5 class="titulo-buscador-vuelos">Opciones de destinos</h5>
            <div class="flex-img-home">
                <div class="img-centrada-home">
                    <img class="imagenes-home" src="images/montevideo.jpg">
                    <h3 class="paises-home">Uruguay</h3>
                </div>
                <div class="img-centrada-home">
                    <img class="imagenes-home" src="images/bogota.jpg">
                    <h3 class="paises-home">Colombia</h3>
                </div>
                <div class="img-centrada-home">
                    <img class="imagenes-home" src="images/bs-as.jpg">
                    <h3 class="paises-home">Argentina</h3>
                </div>
            </div>
        </div>
        <div class="margen-buscador-vuelos">
            <h5 class="titulo-buscador-vuelos">
                ¡Bienvenidos a la presentación de ARCOUR: Conexión Aeronáutica entre Colombia, Argentina y Uruguay!
            </h5>

            <p class="parrafo">

                ARCOUR es un emocionante proyecto que tiene como objetivo principal ofrecer un servicio de aeronáutica
                innovador, brindando una conexión sin precedentes entre tres países. Gracias a un acuerdo histórico
                entre Colombia, Argentina y Uruguay, hemos creado una plataforma que facilitará a nuestros usuarios una
                forma
                sencilla, económica y conveniente de viajar y conectarse entre sí.
            </p>

            <p class="parrafo">
                La Experiencia de Viaje:
                En nuestra plataforma, encontrarás tres aerolíneas estrellas que se han unido para ofrecerte una
                experiencia
                excepcional de viaje. Estas aerolíneas líderes en la industria te brindarán un servicio de calidad y
                comodidad mientras te conectas entre Colombia, Argentina y Uruguay en trayectos de Ida y Vuelta.
            </p>

            <h5 class="titulo-buscador-vuelos">
                Beneficios para los usuarios
            </h5>

            <div class="flex-nuestra-empresa">

                <article class="div-nuestra-empresa">
                    <img src="images/conexion-directa.jpg" width="100%">
                    <div class="padding-div-beneficios">
                        <h4>
                            Conexión Directa
                        </h4>
                        Nuestro servicio de aeronáutica te permite volar sin escalas entre los destinos de
                        Colombia, Argentina y Uruguay, lo que reduce significativamente los tiempos de viaje y te brinda
                        mayor comodidad.
                    </div>

                </article>

                <article class="div-nuestra-empresa">
                    <img src="images/competitivos.jpg" width="100%">
                    <div class="padding-div-beneficios">
                        <h4>
                            Competitivos
                        </h4>
                        Nos enorgullece ofrecer tarifas accesibles que se ajustan a diferentes presupuestos,
                        permitiéndote aprovechar al máximo tu dinero mientras disfrutas de un servicio de
                        calidad.
                    </div>

                </article>



                <article class="div-nuestra-empresa">
                    <img src="images/personalizacion.jpg" width="100%">
                    <div class="padding-div-beneficios">
                        <h4>
                            Personalización
                        </h4>
                        Entendemos que cada viajero es único. Por eso, te brindamos la flexibilidad de
                        personalizar tu experiencia de viaje, eligiendo entre una variedad de opciones que se
                        adaptan a tus necesidades y preferencias.
                    </div>
                </article>



                <article class="div-nuestra-empresa">
                    <img src="images/interconexion-cultural.jpg" width="100%">
                    <div class="padding-div-beneficios">
                        <h4>
                            Interconexión cultural
                        </h4>
                        ARCOUR no solo se trata de viajar de un lugar a otro, sino también de explorar y
                        sumergirte en la rica cultura de estos tres países. Te brindamos la oportunidad de
                        descubrir nuevos
                        destinos, vivir experiencias inolvidables y crear recuerdos duraderos.
                    </div>
                </article>
            </div>
        </div>
    </main>


    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>


</html>