<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<header>
    <%- include("../partials/header.ejs") %>
</header>

<nav>
    <%- include("../partials/navBar.ejs") %>
</nav>

<body>

    <h2 id="titulo">Nuestra Filosofía</h2>

    <h2 class="titulo">
        ¡Bienvenidos a la presentación de ARCOUR: Conexión Aeronáutica entre Colombia, Argentina y Uruguay!
    </h2>

    <h4 id="subtituloMision">Nuestra propuesta:</h4>
    <p class="parrafo">
        En ARCOUR, estamos comprometidos en ser pioneros en la industria de viajes al presentar una nueva forma de
        explorar el mundo. A través de nuestra página web, te ofrecemos la oportunidad de planificar y personalizar tus
        viajes de una manera única, permitiéndote elegir el mejor plan para ti y tu familia.
    </p>
    <h4 id="subtituloMision">Misión:</h4>
    <p id="parrafo"> Brindar a las personas en todo el mundo la oportunidad de disfrutar de alimentos y golosinas de
        calidad, ricos y saludables, transformando así sus vínculos cotidianos en momentos mágicos de encuentro y
        celebración.
    </p>
    <h4 id="subtituloVision">Visión:</h4>
    <p id="parrafo"> Ser una empresa líder de alimentos y golosinas en Latinoamérica y reconocida en el mercado
        internacional, destacándonos por nuestras prácticas sustentables y por nuestra capacidad de ingresar en
        nuevos negocios.
    </p>
    <h4 id="subtituloProposito">Propósito:</h4>
    <p id="parrafo"> Hacemos accesibles las tendencias en alimentación para que todas las personas podamos vivir
        mejor.
    </p>
    
    <h4 id="subtituloMision">Conclusión:</h4>
    <p class="parrafo">
        En ARCOUR, estamos emocionados de ser los pioneros en esta nueva era de la aeronáutica y de ofrecer a nuestros
        usuarios una forma sencilla y económica de conectarse entre Colombia, Argentina y Uruguay. A través de nuestra
        página web, te invitamos a explorar nuestras aerolíneas estrellas y planificar tus viajes de manera
        personalizada. Prepárate para vivir una experiencia de viaje excepcional y descubrir la magia de estos tres
        maravillosos países. ¡ARCOUR te espera para llevarte a nuevas alturas de aventura y conexión aeronáutica!
    </p>

    <h2 id="titulo">Conocé nuestro valores</h2>
    <h4 class="valores">Espíritu Emprendedor</h4>
    <h4 class="valores">Cercanía con el Cliente</h4>
    <h4 class="valores">Calidad y Efectividad</h4>
    <h4 class="valores">Integridad en las Acciones</h4>


</body>
<footer>
    <%- include("../partials/footer.ejs") %>
</footer>

</html>