<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<header>
    <%- include("../partials/header.ejs") %>
</header>

<nav>
    <%- include("../partials/navBar.ejs") %>
</nav>

<body>
    <div>
        <h5 class="titulo-bienvenidos">
            ¡Bienvenidos a la presentación de ARCOUR: Conexión Aeronáutica entre Colombia, Argentina y Uruguay!
        </h5>
    </div>
    <div class="flex-nuestra-empresa">

        <article class="div-nuestra-empresa">
            <img src="images/nuestra-propuesta.jpg" width="100%">
            <div class="padding-div-beneficios">
                <h4>
                    Nuestra propuesta
                </h4>
                En ARCOUR, estamos comprometidos en ser pioneros en la industria de viajes al presentar una nueva forma
                de explorar el mundo. A través de nuestra página web, te ofrecemos la oportunidad de planificar y
                personalizar tus viajes de una manera única, permitiéndote elegir el mejor plan para ti y tu familia.
            </div>

        </article>

        <article class="div-nuestra-empresa">
            <img src="images/mision-empresarial.jpg" width="100%">
            <div class="padding-div-beneficios">
                <h4>
                    Misión
                </h4>
                Brindar a las personas en todo el mundo la oportunidad de disfrutar de vuelos de calidad, cómodos,
                accesibles con excelente atención de todo el personal, transformando así un vínculo a largo plazo con
                todos nuestros clientes.
            </div>

        </article>



        <article class="div-nuestra-empresa">
            <img src="images/vision-empresarial.jpg" width="100%">
            <div class="padding-div-beneficios">
                <h4>
                    Visión
                </h4>
                eremos la aerolínea preferida de nuestra región, cumpliendo consistentemente nuestra promesa de valor*,
                compartiendo un excelente ambiente de trabajo y obteniendo los mejores resultados de la industria
                (segura, conveniente, asequible y amable).


            </div>
        </article>



        <article class="div-nuestra-empresa">
            <img src="images/conclusion-empresarial.jpg" width="100%">
            <div class="padding-div-beneficios">
                <h4>
                    Conclusión
                </h4>
                En ARCOUR, estamos emocionados de ser los pioneros en esta nueva era de la aeronáutica y de ofrecer
                a nuestros usuarios una forma sencilla y económica de conectarse entre Colombia, Argentina y Uruguay. A
                través de nuestra página web, te invitamos a explorar nuestras aerolíneas estrellas y planificar tus
                viajes de manera personalizada. Prepárate para vivir una experiencia de viaje excepcional y descubrir la
                magia de estos tres maravillosos países. ¡ARCOUR te espera para llevarte a nuevas alturas de aventura y
                conexión aeronáutica!
            </div>
        </article>
    </div>
    </div>

<div>
    <h2 id="titulo-bienvenidos" class="nuestros-valores">Nuestros valores</h2>
    <div class="flex-valores">
        <div class = "valores-i">
            <i class="fa-solid fa-square-check"></i>
            <h4 class="valores">Espíritu Emprendedor</h4>
        </div>
        <div class = "valores-i">
            <i class="fa-solid fa-square-check"></i>
            <h4 class="valores">Cercanía con el Cliente</h4>
        </div>
        <div class = "valores-i">
            <i class="fa-solid fa-square-check"></i>
            <h4 class="valores">Calidad y Efectividad</h4>
        </div>
        <div class = "valores-i">
            <i class="fa-solid fa-square-check"></i>
            <h4 class="valores">Integridad en las Acciones</h4>
        </div>
    </div>
</div>
</body>
<footer>
    <%- include("../partials/footer.ejs") %>
</footer>

</html>