<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="icon" href="/images/Logo-ARCOUR.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>
    <main>
        <div class="main-arriba">
            <div class="arriba-izq">
                <div class="destino">
                    <b>Buenos Aires - Bogota</b>
                </div>
                <div class="fecha-cantidad">
                    <div class="fecha">
                        <span class="span-header">
                            <div><i class="fa-solid fa-calendar-days"></i></div>
                            <div class="fyc"> jue 13 jul - mié 19 jul </div>
                        </span>
                    </div>
                    <div class="cantidad">
                        <span class="span-header">
                            <div><i class="fa-solid fa-users"></i></div>
                            <div class="fyc"> 1 adulto</div>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button class="arriba-der">
                    <span class="boton-main-arriba">
                        <div class="icono12"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <div class="a" class="icono1">Buscar</div>
                    </span>
                </button>
            </div>
        </div>

        <div class="main-arriba1">
            <div class="arriba-izq">
                <b>Filtro:</b>4 Vuelos
            </div>
            <div class="boton-main2">
                <button class="arriba-der">
                    <span class="boton-main-arriba">
                        <div class="icono12"><i class="fa-solid fa-sliders"></i></div>
                        <div class="a" class="icono1">Filtro</div>
                    </span>
                </button>
            </div>
        </div>

        <div class="rcmbmc">
            <div>
                <button class="boton-main3">
                    <div class="a" class="boton-int1"><i class="fa-solid fa-award fa-2xl"></i></div>
                    <div class="boton-int">
                        <div class="tamaño-boton">Recomendado</div>
                        <div class="tamaño-boton"><b>AR$319,801.26</b></div>
                    </div>
                </button>
            </div>
            <div>
                <button class="boton-main3">
                    <div class="a" class="boton-int1"><i class="fa-solid fa-star fa-2xl"></i></div>
                    <div class="boton-int">
                        <div class="tamaño-boton">Campaña</div>
                        <div class="tamaño-boton"><b>AR$319,801.26</b></div>
                    </div>
                </button>
            </div>
            <div>
                <button class="boton-main3">
                    <div class="a" class="boton-int1"><i class="fa-solid fa-dollar-sign fa-2xl"></i></div>
                    <div class="boton-int">
                        <div class="tamaño-boton">Más barato</div>
                        <div class="tamaño-boton"><b>AR$319,801.26</b></div>
                    </div>
                </button>
            </div>
            <div>
                <button class="boton-main3">
                    <div class="a" class="boton-int1"><i class="fa-regular fa-clock fa-2xl"></i></div>
                    <div class="boton-int">
                        <div class="tamaño-boton">Más corto</div>
                        <div class="tamaño-boton"><b>AR$442,032.34</b></div>
                    </div>
                </button>
            </div>
        </div>

        <div class="cuadrado">
            <div class="titulo-cuadrado">
                <b>Más barato | Relación calidad-precio</b>
            </div>
            <div class="subtitulo">
                <div><i class="fa-solid fa-plane"></i></div>
                <div><b> Salida</b> jueves 13 jul</div>
            </div>
            <div class="economy">
                <div class="espacio"><i class="fa-solid fa-plane-up"></i></div>
                <div class="espacio">Economy</div>
            </div>

            <div class="horario">
                <div class="horario-adentro">
                    <div class="latam">
                        <div><img src="/images/logo-ARCOUR.ico" width="50px"></div>
                        <div class="a" class="tamaño-main"><b>ARCOUR</b></div>
                    </div>
                    <div class="salida">
                        <div class="hora">05:10</div>
                        <div class="tamaño-main"><b>EZE</b> Buenos Aires</div>
                        <div class="tamaño-main">
                            <h4>Buenos Aires</h4>
                        </div>
                    </div>
                    <div class="salida">
                        <div class="tamaño-main">11 h 5min</div>
                        <div class="tamaño-main"> ----o----></div>
                        <div class="tamaño-main">1 cambio</div>
                    </div>
                    <div>
                        <div class="salida">
                            <div class="hora">15:15</div>
                            <div class="tamaño-main"><b>BOG</b> Bogota</div>
                            <div class="tamaño-main">
                                <h4>Bogota</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipaje">
                    <div><i class="fa-solid fa-briefcase"></i></div>
                    <div class="tamaño-main">no incluye equipaje facturado</div>
                </div>
            </div>

            <div class="subtitulo">
                <div><i class="fa-solid fa-plane fa-rotate-180"></i></i></div>
                <div><b> Vuelta</b> jueves 20 jul</div>
            </div>
            <div class="economy">
                <div class="espacio"><i class="fa-solid fa-plane-up"></i></div>
                <div class="espacio">Economy</div>
            </div>

            <div class="horario">
                <div class="horario-adentro">
                    <div class="latam">
                        <div><img src="/images/logo-ARCOUR.ico" width="50px"></div>
                        <div class="a" class="tamaño-main"><b>ARCOUR</b></div>
                    </div>
                    <div class="salida">
                        <div class="hora">15:15</div>
                        <div class="tamaño-main"><b>BOG</b> Bogota</div>
                        <div class="tamaño-main">
                            <h4>Bogota</h4>
                        </div>
                    </div>
                    <div class="salida">
                        <div class="tamaño-main">11 h 5min</div>
                        <div class="tamaño-main"> ----o----></div>
                        <div class="tamaño-main">1 cambio</div>
                    </div>
                    <div>
                        <div class="salida">
                            <div class="hora">05:10</div>
                            <div class="tamaño-main"><b>EZE</b> Buenos aires</div>
                            <div class="tamaño-main">
                                <h4>Buenos Aires</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipaje">
                    <div><i class="fa-solid fa-briefcase"></i></div>
                    <div class="tamaño-main">no incluye equipaje facturado</div>
                </div>
            </div>

            <div class="reservar">
                <div class="reservar-precio">
                    <div class="tamaño-main"><b>AR$319,801.26</b></div>
                    <div class="tamaño-main">Precio por adulto</div>
                </div>
                <button class="boton-reservar">Reservar</button>
            </div>
        </div>

        <div class="cuadrado">
            <div class="titulo-cuadrado">
                <b>Menos tiempo de vuelo</b>
            </div>
            <div class="subtitulo">
                <div><i class="fa-solid fa-plane"></i></div>
                <div><b> Salida</b> jueves 13 jul</div>
            </div>
            <div class="economy">
                <div class="espacio"><i class="fa-solid fa-plane-up"></i></div>
                <div class="espacio">Economy</div>
            </div>
            <div class="horario">
                <div class="horario-adentro">
                    <div class="latam">
                        <div><img src="/images/logo-ARCOUR.ico" width="50px"></div>
                        <div class="a" class="tamaño-main"><b>ARCOUR</b></div>
                    </div>
                    <div class="salida">
                        <div class="hora">21:53</div>
                        <div class="tamaño-main"><b>EZE</b> Buenos Aires</div>
                        <div class="tamaño-main">
                            <h4>Buenos Aires</h4>
                        </div>
                    </div>
                    <div class="salida">
                        <div class="tamaño-main">9 h 5min</div>
                        <div class="tamaño-main"> ----o----></div>
                        <div class="tamaño-main">1 cambio</div>
                    </div>
                    <div>
                        <div class="salida">
                            <div class="hora">05:48</div>
                            <div class="tamaño-main"><b>BOG</b> Bogota</div>
                            <div class="tamaño-main">
                                <h4>Bogota</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipaje">
                    <div><i class="fa-solid fa-briefcase"></i></div>
                    <div class="tamaño-main">no incluye equipaje facturado</div>
                </div>
            </div>

            <div class="subtitulo">
                <div><i class="fa-solid fa-plane fa-rotate-180"></i></i></div>
                <div><b> Vuelta</b> jueves 20 jul</div>
            </div>
            <div class="economy">
                <div class="espacio"><i class="fa-solid fa-plane-up"></i></div>
                <div class="espacio">Economy</div>
            </div>

            <div class="horario">
                <div class="horario-adentro">
                    <div class="latam">
                        <div><img src="/images/logo-ARCOUR.ico" width="50px"></div>
                        <div class="a" class="tamaño-main"><b>ARCOUR</b></div>
                    </div>
                    <div class="salida">
                        <div class="hora">04:10</div>
                        <div class="tamaño-main"><b>BOG</b> Bogota</div>
                        <div class="tamaño-main">
                            <h4>Bogota</h4>
                        </div>
                    </div>
                    <div class="salida">
                        <div class="tamaño-main">9 h 5min</div>
                        <div class="tamaño-main"> ----o----></div>
                        <div class="tamaño-main">1 cambio</div>
                    </div>
                    <div>
                        <div class="salida">
                            <div class="hora">13:15</div>
                            <div class="tamaño-main"><b>EZE</b> Buenos aires</div>
                            <div class="tamaño-main">
                                <h4>Buenos Aires</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipaje">
                    <div><i class="fa-solid fa-briefcase"></i></div>
                    <div class="tamaño-main">no incluye equipaje facturado</div>
                </div>
            </div>
            <div class="reservar">
                <div class="reservar-precio">
                    <div class="tamaño-main"><b>AR$442,032.34</b></div>
                    <div class="tamaño-main">Precio por adulto</div>
                </div>
                <button class="boton-reservar">Reservar</button>
            </div>
        </div>

        <div class="cuadrado">
            <div class="titulo-cuadrado">
                <b>Estadía más prolongada</b>
            </div>
            <div class="subtitulo">
                <div><i class="fa-solid fa-plane"></i></div>
                <div><b> Salida</b> jueves 13 jul</div>
            </div>
            <div class="economy">
                <div class="espacio"><i class="fa-solid fa-plane-up"></i></div>
                <div class="espacio">Economy</div>
            </div>

            <div class="horario">
                <div class="horario-adentro">
                    <div class="latam">
                        <div><img src="/images/logo-ARCOUR.ico" width="50px"></div>
                        <div class="a" class="tamaño-main"><b>ARCOUR</b></div>
                    </div>
                    <div class="salida">
                        <div class="hora">05:10</div>
                        <div class="tamaño-main"><b>EZE</b> Buenos Aires</div>
                        <div class="tamaño-main">
                            <h4>Buenos Aires</h4>
                        </div>
                    </div>
                    <div class="salida">
                        <div class="tamaño-main">13 h 5min</div>
                        <div class="tamaño-main"> ----o----></div>
                        <div class="tamaño-main">1 cambio</div>
                    </div>
                    <div>
                        <div class="salida">
                            <div class="hora">18:15</div>
                            <div class="tamaño-main"><b>BOG</b> Bogota</div>
                            <div class="tamaño-main">
                                <h4>Bogota</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipaje">
                    <div><i class="fa-solid fa-briefcase"></i></div>
                    <div class="tamaño-main">no incluye equipaje facturado</div>
                </div>
            </div>
            <div class="subtitulo">
                <div><i class="fa-solid fa-plane fa-rotate-180"></i></i></div>
                <div><b> Vuelta</b> jueves 20 jul</div>
            </div>
            <div class="economy">
                <div class="espacio"><i class="fa-solid fa-plane-up"></i></div>
                <div class="espacio">Economy</div>
            </div>
            <div class="horario">
                <div class="horario-adentro">
                    <div class="latam">
                        <div><img src="/images/logo-ARCOUR.ico" width="50px"></div>
                        <div class="a" class="tamaño-main"><b>ARCOUR</b></div>
                    </div>
                    <div class="salida">
                        <div class="hora">15:10</div>
                        <div class="tamaño-main"><b>BOG</b> Bogota</div>
                        <div class="tamaño-main">
                            <h4>Bogota</h4>
                        </div>
                    </div>
                    <div class="salida">
                        <div class="tamaño-main">18 h 5min</div>
                        <div class="tamaño-main"> ----o----></div>
                        <div class="tamaño-main">1 cambio</div>
                    </div>
                    <div>
                        <div class="salida">
                            <div class="hora">09:15</div>
                            <div class="tamaño-main"><b>EZE</b> Buenos aires</div>
                            <div class="tamaño-main">
                                <h4>Buenos Aires</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipaje">
                    <div><i class="fa-solid fa-briefcase"></i></div>
                    <div class="tamaño-main">no incluye equipaje facturado</div>
                </div>
            </div>
            <div class="reservar">
                <div class="reservar-precio">
                    <div class="tamaño-main"><b>AR$319,801.26</b></div>
                    <div class="tamaño-main">Precio por adulto</div>
                </div>
                <button class="boton-reservar">Reservar</button>
            </div>
        </div>
        <div class="cuadrado-ultimo">
            <div class="titulo-cuadrado">
                <b>Relacion calidad-precio</b>
            </div>
            <div class="subtitulo">
                <div><i class="fa-solid fa-plane"></i></div>
                <div><b> Salida</b> jueves 13 jul</div>
            </div>
            <div class="economy">
                <div class="espacio"><i class="fa-solid fa-plane-up"></i></div>
                <div class="espacio">Economy</div>
            </div>
            <div class="horario">
                <div class="horario-adentro">
                    <div class="latam">
                        <div><img src="/images/logo-ARCOUR.ico" width="50px"></div>
                        <div class="a" class="tamaño-main"><b>ARCOUR</b></div>
                    </div>
                    <div class="salida">
                        <div class="hora">05:10</div>
                        <div class="tamaño-main"><b>EZE</b> Buenos Aires</div>
                        <div class="tamaño-main">
                            <h4>Buenos Aires</h4>
                        </div>
                    </div>
                    <div class="salida">
                        <div class="tamaño-main">11 h 40min</div>
                        <div class="tamaño-main"> ----o----></div>
                        <div class="tamaño-main">1 cambio</div>
                    </div>
                    <div>
                        <div class="salida">
                            <div class="hora">13:50</div>
                            <div class="tamaño-main"><b>BOG</b> Bogota</div>
                            <div class="tamaño-main">
                                <h4>Bogota</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipaje">
                    <div><i class="fa-solid fa-briefcase"></i></div>
                    <div class="tamaño-main">no incluye equipaje facturado</div>
                </div>
            </div>
            <div class="subtitulo">
                <div><i class="fa-solid fa-plane fa-rotate-180"></i></i></div>
                <div><b> Vuelta</b> jueves 20 jul</div>
            </div>
            <div class="economy">
                <div class="espacio"><i class="fa-solid fa-plane-up"></i></div>
                <div class="espacio">Economy</div>
            </div>
            <div class="horario">
                <div class="horario-adentro">
                    <div class="latam">
                        <div><img src="/images/logo-ARCOUR.ico" width="50px"></div>
                        <div class="a" class="tamaño-main"><b>ARCOUR</b></div>
                    </div>
                    <div class="salida">
                        <div class="hora">15:10</div>
                        <div class="tamaño-main"><b>BOG</b> Bogota</div>
                        <div class="tamaño-main">
                            <h4>Bogota</h4>
                        </div>
                    </div>
                    <div class="salida">
                        <div class="tamaño-main">11 h 5min</div>
                        <div class="tamaño-main"> ----o----></div>
                        <div class="tamaño-main">1 cambio</div>
                    </div>
                    <div>
                        <div class="salida">
                            <div class="hora">16:15</div>
                            <div class="tamaño-main"><b>EZE</b> Buenos aires</div>
                            <div class="tamaño-main">
                                <h4>Buenos Aires</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipaje">
                    <div><i class="fa-solid fa-briefcase"></i></div>
                    <div>no incluye equipaje facturado</div>
                </div>
            </div>
            <div class="reservar">
                <div class="reservar-precio">
                    <div class="tamaño-main"><b>AR$396,502.92</b></div>
                    <div class="tamaño-main">Precio por adulto</div>
                </div>
                <button class="boton-reservar">Reservar</button>
            </div>
        </div>
        <div class="main-abajo">
            <div class="main-abajo-adentro">
                <div class="m-a-a"><i class="fa-solid fa-plane"></i></div>
                <div> Compara vuelos de 650 aerolineas</div>
            </div>
            <div class="main-abajo-adentro">
                <div class="m-a-a"><i class="fa-solid fa-user"></i></div>
                <div>22 millones de clientes por año</div>
            </div>
            <div class="main-abajo-adentro">
                <div class="m-a-a"><i class="fa-solid fa-lock"></i></div>
                <div>Pago seguro</div>
            </div>
        </div>

    </main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>