<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="icon" href="/images/Logo-ARCOUR.ico">
    <link rel="stylesheet" href="/css/styleCarrito.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <nav>
        <%- include("../partials/navBar.ejs") %>
    </nav>

</body>

<main>
    <img class="imagen-header" src="images/punta-del-este.jpg">
    <div class="main-flex">
        <section>
            <h2>Completa tus datos y finaliza la compra!</h2>
            <div class="nombre-apellido">
                <h3>Titular de la reserva</h3>
                <form action="/productCart" method="POST"></form>
                <label for="nombres">Nombres</label>
                <input type="text" name="nombres" id="nombres">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos">

            </div>
        </section>

        <section>
            <div class="pagos">
                <h3> Datos de la tarjeta</h3>
                <form action="/productCart" method="POST"></form>
                <label for="tarjeta">Numero de la tarjeta</label>
                <input type="number" name="tarjeta" id="tarjeta">
                <label for="titular">Titular de la tarjeta</label>
                <input type="text" name="titular" id="titular">
                <label for="vencimiento">Vencimiento</label>
                <input type="date" name="vencimiento" id="vencimiento">
                <label for="cedula">Cedula de identidad</label>
                <input type="number" name="cedula" id="cedula">
            </div>
            <button>PAGAR</button>
        </section>


        <section>

            <div class="pedido">
                <h3>Detalle del pedido</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, harum eligendi, unde, consequatur
                    voluptas
                    facilis dolores temporibus illum dicta at ipsum fuga enim quidem nostrum sunt. Harum praesentium
                    blanditiis
                    iure.</p>
                <h2>Total a pagar: $150.000</h2>


            </div>
    </div>
</main>
<footer>
    <%- include("../partials/footer.ejs") %>
</footer>


</html>