<img src="/images/arcour-fondo-blanco.png">
<div class="iconos-header">
    <i class="fas fa-user"></i>
    <i class="fas fa-shopping-cart"></i>
    <div class="burger-menu">
        <i class="fas fa-bars" style="color: white;"></i>
    </div>
</div>