<img src="/images/arcour-fondo-blanco.png">
<div class="iconos-header">

    <div class="burger-menu">
        <i class="fas fa-bars" style="color: white;"></i>
    </div>

    <div class="iconos-header">
        <% if (locals.validationUser) { %>
            <!-- Implementacion del profile-->
            <h3><%= locals.loggedUser.nombre %></h3>
        <% } else if (locals.validationAdmin) { %>
            <!-- Implementacion del profile y el icono admin-->
            <h3><%= locals.loggedAdmin.empresa %></h3>

        <% } else { %>       
            <a href="/users/login"><i class=" fa-solid fa-user"></i></a>
            <a href="/users/register"><i class="fa-solid fa-registered"></i></a>
        <% } %>
    </div>
</div>