<img src="/images/arcour-fondo-blanco.png">
<div class="iconos-header">

    <div class="burger-menu">
        <i class="fas fa-bars" style="color: white;"></i>
    </div>

    <div class="iconos-header">

        <a href="./users/login"><i class=" fa-solid fa-user"></i></a>
        <a href="./users/register"><i class="fa-solid fa-registered"></i></a>
        <a href="./users/admin"><i class="fa-solid fa-lock"></i></a>
        <a href="./products/product-cart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="./products/product-detail"><i class="fa-solid fa-plane-departure"></i></a>

    </div>
</div>